.Wrapper {
  display: flex;
  background: var(--primary-bg-color);
  padding: 1.5rem;
  border-radius: 25px;
  margin-top: 1rem;
  transition: background-color var(--dark-mode-transition);
}
.Description {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}
.Date {
  color: var(--gray-color);
  font-weight: bold;
  font-size: 0.9rem;
  transition: color var(--dark-mode-transition);
}
.Bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Weather {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--black-text-color);
  transition: color var(--dark-mode-transition);
}
.Temperature {
  color: var(--orange-color);
  font-size: 1.2rem;
  font-weight: bold;
}
