.Input {
  background: var(--secondary-bg-color);
  border-radius: 1rem;
  padding: 1rem 4rem 1rem 1rem;
  border: none;
  font-family: 'Questrial-Regular', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--black-text-color);
  width: 100%;
  font-size: 1rem;
  transition: background-color var(--dark-mode-transition),
    color var(--dark-mode-transition);
}
.Input:focus {
  outline: 2px solid var(--orange-color);
}
.Form {
  position: relative;
  flex: 1;
}
.Icon {
  fill: var(--orange-color);
}
.IconParent {
  background-color: var(--secondary-bg-color);
  padding: 0.5rem;
  border: none;
  border-radius: 14px;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 6px;
  height: 36px;
  transition: fill var(--dark-mode-transition),
    background var(--dark-mode-transition);
}
.IconParent:hover {
  background-color: var(--orange-color);
}
.IconParent:hover > .Icon {
  fill: var(--primary-bg-color);
}
.IconParent:focus {
  outline: 2px solid var(--orange-color);
}
.Error {
  position: absolute;
  top: 0;
  background-color: var(--orange-color);
  color: var(--primary-bg-color);
  font-weight: bold;
  letter-spacing: 1px;
  z-index: -1;
  padding: 4rem 1rem 1rem 1rem;
  border-radius: 30px 30px 25px 25px;
  width: 100%;
}
.LogoWrapper {
  display: flex;
  cursor: pointer;
  transition: 0.2s;
}
@media only screen and (max-width: 866px) {
  .Form {
    flex: 1;
  }
}
