.Wrapper {
  display: flex;
  flex: 1;
  margin-top: 4rem;
  overflow: hidden;
}
.TimeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  border-right: 1px solid var(--light-gray-color-transparent);
  transition: border var(--dark-mode-transition);
}
.TimeWrapper:last-child {
  border: none;
}
.IconParent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-bg-color);
  border-radius: 50%;
  border: 1px solid var(--light-gray-color);
  width: 4rem;
  height: 4rem;
  transition: background-color var(--dark-mode-transition),
    border var(--dark-mode-transition);
}

.IconWrapper {
  display: flex;
  align-items: center;
  height: 50%;
}
.Details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.Count {
  color: var(--black-text-color);
  font-weight: bold;
  font-size: 1.5rem;
  transition: color var(--dark-mode-transition);
}
.Time {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--gray-color);
  letter-spacing: 1.5px;
  transition: color var(--dark-mode-transition);
}
@media only screen and (max-width: 866px) {
  .Wrapper {
    flex-direction: column;
  }
  .TimeWrapper {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--light-gray-color-transparent);
    padding: 3rem 0;
  }
  .Details {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 1150px) {
  .TimeWrapper {
    width: 100%;
    padding: 3rem 0;
  }
  .Details {
    margin-top: 3rem;
  }
}
