@font-face {
  font-family: 'Questrial-Regular';
  src: url('/fonts/Questrial-Regular.ttf');
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-text-color: #192741;
  --orange-color: #f97f29;
  --light-orange-color: #fa9954;
  --green-color: #cce16a;
  --red-color: #e16a6a;
  --yellow-color: #ffef60;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
  --secondary-bg-color-hover: #afafaf;
  --gray-color: #5e6477;
  --light-gray-color: #dee3e9;
  --light-gray-color-transparent: #eaedf2;
  --gray-text-color: #5f6479;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Questrial-Regular', sans-serif;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
#__next {
  height: 100%;
}
.wrapper {
  display: flex;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.active {
  background-color: var(--orange-color) !important;
  fill: var(--primary-bg-color) !important;
}
.active:hover {
  box-shadow: 10px 10px 20px -10px var(--orange-color) !important;
}
#sun {
  transition: transform 1s ease;
  transform-origin: center !important;
  transform-box: fill-box;
}
#sun-shadow {
  transition: width 1s ease;
}
#sun-moving-dot {
  transition: transform 1s ease;
}
#moon {
  transition: transform 1s ease;
  transform-origin: center !important;
  transform-box: fill-box;
}
#moon-shadow {
  transition: width 1s ease;
}
#moon-moving-dot {
  transition: transform 1s ease;
}

@media only screen and (max-width: 1150px) {
  .wrapper {
    flex-direction: column;
    height: auto;
  }
}
